/*  Final project 
 *  Authors 
 *  Erin Cooper - 
 *  Geoff Groenendale - https://www.linkedin.com/in/ggroenendale/
 *
 *   #5970b2
 *   #fff1cc
 *   #b3c6ff
 *   #ffeab3
 *   #b29a5b
 *
 *
 *
 * 
*/

/* ===============  Meyers reset  ===============  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========== Root Styles Begin here  =========== */

:root {
	--body-color: #687864;
	--header-color: #31708e;
	--nav-color: #f7f9fb;
	--text-color: navy;
}

/* =========== Font Styles Begin here  =========== */

h1 {
	font-size: 3.5em;
	font-family: Raleway, Georgia, Verdana;
	font-weight: bold;
	color: navy;
	text-align: center;
	text-shadow: 1px 1px #5085A5;
}

h2 {
	font-size: 2.0em;
	font-family: Raleway, Georgia, Verdana;
	font-weight: bold;
	color: navy;
	text-align: center;
	text-shadow: .5px .5px #5085A5;
}

p {
	font-size: 1.0em;
	font-family: Raleway, Georgia, Verdana;
}

/* =========== Main DOM Styles Begin here  =========== */

body {
	background-color: #687864;
}

#wrapper {
	position: relative;
	width: 100%;
}

/* =========== Header Styles Begin here  =========== */

header {
	background: #31708e;
	width: 100%;
	height: auto;
}

nav {
	padding:1%;
	margin: 3% auto;
	font-family: Raleway, Georgia, Verdana;
	}

nav ul {
	border-top: 2px solid black;
	border-bottom:2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	background: #f7f9fb;
}
		
nav li {
	display: inline-block;
	margin: 1%;
	width: 5em;
	border: 1px solid orange;
}
	
nav li a {
	display: block;
	text-align: center;
	text-decoration: none;
}
		
nav li a:link, nav li a:visited  {
	color: navy;
	background: #f7f9fb;
	border: 1px solid black;
}
	
nav li a:hover, nav li a:focus {
	color: red;
	background: black;
	border: 2px solid white;
}

/* =========== Content Styles Begin here  =========== */

#content {
	margin: auto;
	border: 1px solid yellow;
	background: #f7f9fb;
	width: 90%;
	height: auto;
}

#thing {
	border: 1px solid blue;
	height: 400px;
}

#img-wrapper {
	border: 3px solid black;
	position: absolute;
	overflow: hidden;
	width: 30%;
	left: 110px;
}

#bio-wrapper {
	font-size: 1.5em;
	font-family: Raleway, Georgia, Verdana;
	color: navy;
	position: absolute;
	border: 3px solid purple;
	width: 40%;
	height: auto;
	right: 110px;
	text-align: center;
	
}

#recipes {
	padding-top: 20px;
}

ul {
	border: 1px solid green;
}

ul li {
	padding-top: 15px;
	border: 1px solid white;
	height: 50px;
	color: white;
}

.recipe-div {
	margin: auto;
	width: 90%;
}


/* =========== Footer Styles Begin here  =========== */

footer {
	background-color: var(--header-color);
	height: 120px;
	width: 100%;
}