/*  Final project 
 *  Authors 
 *  Erin Cooper - 
 *  Geoff Groenendale - https://www.linkedin.com/in/ggroenendale/
 *
 *   #5970b2
 *   #fff1cc
 *   #b3c6ff
 *   #ffeab3
 *   #b29a5b
 *
 *
 *
 * 
*/

/* ===============  Meyers reset  ===============  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========== Root Styles Begin here  =========== */

:root {
	--body-color: #687864;
	--header-color: #31708e;
	--nav-color: #f7f9fb;
	--text-color: navy;
}

/* =========== Font Styles Begin here  =========== */

h1 {
	font-size: 3.5em;
	font-family: Raleway, Georgia, Verdana;
	font-weight: bold;
	color: navy;
	text-align: center;
	text-shadow: 1px 1px #5085A5;
}

h2 {
	font-size: 2.0em;
	font-family: Raleway, Georgia, Verdana;
	font-weight: bold;
	color: navy;
	text-align: center;
	text-shadow: .5px .5px #5085A5;
}

h3 {
	font-size: 1.5em;
	font-family: Raleway, Georgia, Verdana;
	font-weight: bold;
	color: navy;
	text-align: left;
	text-shadow: .5px .5px #5085A5;
}

#about {
	font-size: 1.0em;
	font-family: Raleway, Georgia, Verdana;
	text-align: left;
}

p {
	font-size: 1.0em;
	font-family: Raleway, Georgia, Verdana;
	
}

.photo{
	height: 300px;
	
}

/* =========== Main DOM Styles Begin here  =========== */

body {
background-color: #f7f9fb;

}

#wrapper {
	position: relative;
	width: 100%;
}

#img-wrapper>img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* =========== Header Styles Begin here  =========== */

header {
	background: #f7f9fb;
	width: 100%;
	height: auto;
	
}

#nav {
	display: inline-block;
	padding:1%;
	margin: 3% auto;
	font-family: Raleway, Georgia, Verdana;
	width: 100%;
	background: #31708e;
	border-top: 2px solid navy;
	border-bottom:2px solid navy;
	text-align: center;
}

		
#nav li {
	display: inline-block;
	margin: 1%;
	width: 10em;
	border: 2px solid navy;
}
	
#nav li a {
	display: block;
	text-align: center;
	text-decoration: none;
	border: 2px solid #5085a5;
	
}
		
#nav li a:link, nav li a:visited  {
	color: navy;
	background: #f7f9fb;
	border: 2px solid #31708e;
}
	
#nav li a:hover, nav li a:focus {
	color: navy;
	background: #f7f9fb;
	border: 2px solid #8fc1e3;
	
}

/* =========== Content Styles Begin here  =========== */

#content {
	margin: auto;
	border: 2px solid navy;
	background: #f7f9fb;
	width: 90%;
	height: auto;
	
}

#thing-wrapper {
	border: 2px solid navy;
	height: auto;
}

#thing {
	border: 4px solid #31708e;
	height: auto;
}

#img-wrapper {
	border: 3px solid navy;
	float: left;
	overflow: hidden;
	width: calc(100%-8px);
	left: 110px;
	
}

#bio-wrapper {
	font-size: 1.5em;
	font-family: Raleway, Georgia, Verdana;
	color: navy;
	border: 3px solid navy;
	width: calc(100%-8px);
	height: auto;
	right: 110px;
	text-align: center;
	
}

#recipes-wrapper {
	border: 2px solid navy;
}

#recipes {
	padding-top: 20px;
	border: 4px solid #31708e;
}



.recipe-li {
	padding-top: 15px;
	border: 1px solid orange;
	
	color: white;
}

.recipe-li-h {
	height: 50px;
}

.recipe-div  {
	margin: auto;
	width: 90%;
}

.recipe-div a {
	display: block;
	height: auto;
	
}

#contact {
		text-align:center;
		color: navy;
		}
		
#formcontainer {
		text-align:center;
		color: navy;
		width 100%;
		height: auto;
		}
		
#contact_form {
		width:100%;
		
		}
		
img{
	display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
	
.geoffcontainer {
		width:300px;
		height: 250px;
		margin: auto;
		display: block;
		overflow: hidden;
		border: 3px solid navy;
		}	

.erincontainer {
		width:300px;
		height: 250px;
		margin:auto;
		display: block;
		overflow: hidden;
		border: 3px solid navy;
		}			

/* =========== Footer Styles Begin here  =========== */

footer {
	background-color: var(--header-color);
	height: 120px;
	width: 100%;
}

#foot-wrap {
	width: 100%;
	margin: auto;
	padding: 10px;
}

#foot-wrap>h3 {
	font-size: 1.05em;
	margin-bottom: 10px;
	color: white;
	font-weight: 400;
}

.foot-col {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	width: 22%;
}

.foot-col>h4 {
	color: white;
	font-size: 1.1em;
	text-decoration: underline;
}

.foot-col>p>a {
	text-decoration: none;
	color: white;
}

#oth-things {
	width: 100%;
	height: 20px;
}


/* =========== Responsive Styles Begin here  =========== */


		
/* start of query for tablet */
		@media only screen and (min-width: 500px) and (max-width: 700px) {
	#content {
	margin: auto;
	border: 2px solid navy;
	background: #f7f9fb;
	width: 90%;
	height: auto;
	
}

#thing-wrapper {
	border: 2px solid navy;
	height: auto;
}

#thing {
	border: 4px solid #31708e;
	height: auto;
}

#img-wrapper {
	border: 3px solid navy;
	float: left;
	overflow: hidden;
	width: calc(100% - 6px);
	
	
}

#bio-wrapper {
	font-size: 1.5em;
	font-family: Raleway, Georgia, Verdana;
	color: navy;
	border: 3px solid navy;
	width: calc(100% - 6px);
	height: auto;
	text-align: center;
	
}

#recipes-wrapper {
	border: 2px solid navy;
}

#recipes {
	padding-top: 20px;
	border: 4px solid #31708e;
}

#ul {
	border: 5px solid green;
	
}

#ul li {
	padding-top: 15px;
	border: 1px solid white;
	height: 50px;
	color: white;
}

.recipe-div {
	margin: auto;
	width: 90%;
}

.geoffcontainer {
		width:450px;
		height: 350px;
		margin: auto;
		display: block;
		overflow: hidden;
		border: 3px solid navy;
		}	

.erincontainer {
		width:450px;
		height: 350px;
		margin:auto;
		display: block;
		overflow: hidden;
		border: 3px solid navy;
		}			
		}
			
/* start of query for desktop */
		@media only screen and (min-width:701px) {
		
h1 {
	font-size: 7em;
	font-family: Raleway, Georgia, Verdana;
	font-weight: bold;
	color: navy;
	text-align: center;
	text-shadow: 1px 1px #5085A5;
	padding-top: 50px;
}

h2 {
	font-size: 4em;
	font-family: Raleway, Georgia, Verdana;
	font-weight: bold;
	color: navy;
	text-align: center;
	text-shadow: .5px .5px #5085A5;
}

h3 {
	font-size: 3em;
	font-family: Raleway, Georgia, Verdana;
	font-weight: bold;
	color: navy;
	text-align: left;
	text-shadow: .5px .5px #5085A5;
	
}

#about {
	font-size: 1.0em;
	font-family: Raleway, Georgia, Verdana;
	text-align: left;
}

p {
	font-size: 2em;
	font-family: Raleway, Georgia, Verdana;
	
}



header {
	background: #f7f9fb;
	width: 100%;
	height: auto;
	padding-top: 50px;
	
}

#content {
	margin: auto;
	border: 2px solid navy;
	background: #f7f9fb;
	width: 90%;
	height: auto;
	
}

#thing-wrapper {
	border: 2px solid navy;
	height: auto;
}

#thing {
	border: 4px solid #31708e;
	height: auto;
}

#img-wrapper {
	border: 3px solid navy;
	float: left;
	overflow: hidden;
	width: calc(100% - 6px);
	
	
}

#bio-wrapper {
	font-size: 1.5em;
	font-family: Raleway, Georgia, Verdana;
	color: navy;
	border: 3px solid navy;
	width: calc(100% - 6px);
	height: auto;
	text-align: center;
	
}

#recipes-wrapper {
	border: 2px solid navy;
}

#recipes {
	padding-top: 20px;
	border: 4px solid #31708e;
}

#ul {
	border: 5px solid green;
	
}

#ul li {
	padding-top: 15px;
	border: 1px solid white;
	height: 50px;
	color: white;
}

.recipe-div {
	margin: auto;
	width: 90%;
}

#nav {
	display: inline-block;
	padding:1%;
	margin: 3% auto;
	font-family: Raleway, Georgia, Verdana;
	width: 100%;
	background: #31708e;
	border-top: 4px solid navy;
	border-bottom:4px solid navy;
	text-align: center;
}
/*
nav ul {
	border-top: 2px solid black;
	border-bottom:2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	background: #f7f9fb;
}
*/
		
#nav li {
	display: inline-block;
	margin: 1%;
	width: 30em;
	border: 4px solid navy;
	height: 60px;
}
	
#nav li a {
	font-size: 3em;
	display: block;
	text-align: center;
	text-decoration: none;
	border: 2px solid #5085a5;
	height: calc(100% - 8px);
	
}
		
#nav li a:link, nav li a:visited  {
	color: navy;
	background: #f7f9fb;
	border: 4px solid #31708e;
}
	
#nav li a:hover, nav li a:focus {
	color: navy;
	background: #f7f9fb;
	border: 4px solid #8fc1e3;
	
}

#contact {
		text-align:center;
		color: navy;
		width: 100%;
		height: auto;
		}
		
#formcontainer {
		text-align:center;
		color: navy;
		width 100%;
		height: auto;
		}
		
#contact_form {
		width:100%;
		height: auto;
		}
		
img{
	display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
	
.geoffcontainer {
		width:700px;
		height: 650px;
		margin: auto;
		display: block;
		overflow: hidden;
		border: 3px solid navy;
		}	

.erincontainer {
		width:700px;
		height: 650px;
		margin:auto;
		display: block;
		overflow: hidden;
		border: 3px solid navy;
		}			
		
}
